#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
 &kp GRAVE  &kp N1    &kp N2    &kp N3     &kp N4       &kp N5   &trans     &trans     &kp N6               &kp N7       &kp N8         &kp N9    &kp N0      &kp MINUS
   &kp TAB   &kp Q     &kp W     &kp E      &kp R        &kp T    &none      &none      &kp Y                &kp U        &kp I          &kp O     &kp P  &kp BACKSPACE
 &lt 1 ESC   &kp A     &kp S     &kp D      &kp F        &kp G    &none  &kp LCTRL   &kp LALT                                         &kp LGUI  &kp RGUI          &none   &kp H      &kp J      &kp K    &kp L  &kp SEMI    &kp SQT
 &kp LSHFT   &kp Z     &kp X     &kp C      &kp V        &kp B    &none      &none   &kp HOME                &none        &none      &kp PG_UP     &none          &none   &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
 &kp LCTRL   &mo 4  &kp CAPS  &kp LEFT  &kp RIGHT  &lt 2 SPACE  &kp TAB    &kp END  &kp PG_DN  &mt RCTRL BACKSPACE  &lt 3 ENTER  &kp RIGHT_GUI  &kp LEFT       &kp DOWN  &kp UP  &kp RIGHT
            >;
        };

        fn {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans      &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans
            >;
        };

        lower {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                                    &trans  &trans  &trans  &trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans  &trans  &trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans  &kp NUMBER_0        &trans  &trans  &trans  &trans        &trans
            >;
        };

        raise {
            bindings = <
    &trans          &trans         &trans            &trans                &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans          &trans         &trans            &trans                &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &kp SLASH  &kp LEFT_BRACE  &kp LESS_THAN  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp PIPE  &trans  &trans  &trans                  &trans  &trans  &trans  &kp PIPE  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp GREATER_THAN  &kp RIGHT_BRACE  &kp BACKSLASH
    &trans          &trans         &trans            &trans                &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans                 &trans             &trans            &trans           &trans         &trans
    &trans          &trans         &trans            &trans                &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans                 &trans
            >;
        };

        hardware {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
